<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="icon" type="image/x-icon" href="./images/om nom logo.png">
    <link rel="stylesheet" type="text/css" href="/css/dashboardstyle.css">
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="cafe-outline"></ion-icon></ion-icon></span>
                        <span class="title" style="font-size: 2rem">Om Nom Cáfe</span>
                    </a>
                </li>
                <li>
                    <a href="/home">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Home Browser</span>
                    </a>
                
                <li>
                    <a href="/dashboard">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></ion-icon></span>
                        <span class="title">Admin Dashboard</span>
                    </a>
                </li>
                <li> 
                    <a href="#">
                        <span class="icon"><ion-icon name="help-outline"></ion-icon></ion-icon></span>
                        <span class="title">Help</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- main -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                
            </div>

            <!-- cards -->
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers"><%= numCustomers[0].count %></div>
                        <div class="cardName">Customers</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="eye-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers"><%=quantities[0].count%> </div>
                        <div class="cardName">Quantities Sold</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="cart-outline"> </ion-icon>
                    </div>
                </div>
            
                <div class="card">
                    <div>
                        <div class="numbers"> $<%= earning[0].count %></div>
                        <div class="cardName">Earning</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="cash-outline"></ion-icon>
                    </div>
                </div>
            </div>
            

            <!-- Add Charts -->
            <div class = "graphBox">
                <div class="box">
                    <h2>Category Statistics </h2>
                    <canvas id="myChart"></canvas>
                </div>
                <div class="box">
                    <h2>Sales graph by month</h2>
                    <canvas id="earning"></canvas>
                </div>
                
            </div>

            <div style="margin: 5%;">
                <div class="box">
                    <h2>Sales Progress over Months by Category </h2>
                    <canvas id="progress"></canvas>
                </div>
               
            </div>
            


            <div class="details">
                <!-- order details list-->
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Best Selling Products</h2>
                        <!-- <a href="#" class="btn">View All</a> -->
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <td>Product name</td>
                                <td>Quantity sold</td>
                                <td>$Amount sold</td>
                                <td>Categories</td>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let product of bestProd) {%>
                            <tr>
                                <td><%= product.name %> <%= stylingCat[product.category]  %></td>
                                <td><%= product.quantity %> </td>
                                <td>$<%=product.amount %></td>
                                <td><spam class=<%=stylingCat[product.category]%>><%= product.category %> </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>

                <!-- New Customers -->
                <div class="recentCustomers">
                    <div class="cardHeader">
                        <h2>Most recent customers</h2>
                    </div>
                    <table>
                        <% recentCus.forEach(function(data) { %>
                            <tr>
                              <td>
                                <h4><%= data.name %></h4>
                                <span><%= data.date %></span>
                              </td>
                            </tr>
                          <% }); %>
                    </table>
                </div>

            </div>

        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>

    <script type="module" src="js/my_chart.js"></script>
    <script>
        // MenuToggle
        let toggle = document.querySelector('.toggle');
        let navigation = document.querySelector('.navigation');
        let main = document.querySelector('.main');

        toggle.onclick = function(){
            navigation.classList.toggle('active');
            main.classList.toggle('active');
        }

        // add hovered class in selected list item
        let list = document.querySelectorAll('.navigation li');
        function activeLink() {
            list.forEach((item) =>
            item.classList.remove('hovered'));
            this.classList.add('hovered');
        }
        list.forEach((item) => 
        item.addEventListener('mouseover',activeLink));
    </script>
    <script>
        
    </script>
</body>
</html>